@import url('./reset.css');
@import url('./vite-promo.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input[type='text'] {
  width: 272px;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid #808080;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  margin-top: 20px;
  margin-left: 50px;
  padding: 8px 12px;
}
input[type='text']:hover {
  border-color: black;
}
input[type='text']:active {
  border-color: #4e75ff;
}
button[type='button'] {
  width: 75px;
  height: 40px;
  top: 372px;
  left: 28px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  background: #4e75ff;
  border: none;
  text-align: center;
  color: #ffffff;
}
button[type='button']:hover {
  background: #6c8cff;
}
button:disabled,
button:disabled:hover {
background-color: #CFCFCF;
}

.timer {
  display: flex;
  height: 72px;
  gap: 24px;
  margin-top: 20px;
  margin-left: 50px;
}
.value {
  font-family: Montserrat;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #2e2f42;
}
.label {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #2e2f42;
}
.form {
  margin-left: 50px;
  margin-top: 20px;
}
.delay {
  border-radius: 4px;
  border: 1px solid #808080;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  display: block;
  margin-top: 6px;
  width: 330px;
  height: 40px;
} */
 fieldset {
  display: flex;
  width: 280px;
  border-radius: 4px;
  border: 1px solid #808080;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  margin-top: 12px;
  padding: 16px 0 8px 48px;
}
fieldset:hover {
  border-color: black;
}
.delay:hover {
  border-color: black;
}
fieldset label {
  text-align: center;
  margin-right: 48px;
}
.create-btn {
  width: 330px;
  height: 40px;
  top: 226px;
  left: 156px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
  margin-top: 20px;
  background: #4e75ff;
  border: none;

  font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.04em;
color: #ffffff;
}
.create-btn:hover {
  background: #6C8CFF;
}